.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}


button:focus {
    outline: 3px solid var(--color-focus);
    outline-offset: 2px;
}


a:focus {
    outline: 3px solid var(--color-focus);
    outline-offset: 2px;
}
