@font-face {
    font-family: 'Noto-Sans';
    src: url('./assets/fonts/Noto-Sans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Noto-Sans';
    src: url('./assets/fonts/Noto-Sans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Reaver';
    src: url('./assets/fonts/Reaver-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Reaver';
    src: url('./assets/fonts/Reaver-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}