:root {
    --color-dark: #0D0E13;
    --color-white: #FFFFFF;
    --color-focus: #036fc7;
    --color-bag-count: #4664FF;
    --color-accent: #A8C445;
    --color-secondary: #5D6798;
    --color-money: #FFD301;
    --color-common: #b0c3d9;
    --color-uncommon: #5e98d9;
    --color-mythical: #8847ff;
    --color-rare: #4b69ff;
    --color-immortal: #e4ae39;
    --color-legendary: #d32ce6;
    --color-arcana: #ade55c;
    --bg-main: #11131C;
    --bg-secondary: #171A26;
}